* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background: #0E0E10;
  --light-Blue: #00ADED;
  --white: #ffffff;
  --slider-Button: #E5E5E5;
  --active-Button: #18181B;

  font-family: 'Oxygen Mono', monospace;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.Logo img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 600px) {
  .welcome-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  #WelcomePage, .next-page {
    display: inline-block;
    width: 100%;
    height: 100vh;
  }
  
  .next-page {
    background-color: #ccc;
  }
  
  /* aggiungi altri stili CSS per personalizzare il look del tuo container */
    
}